<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soccer mom to software engineer</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static "css/blog.css" %}">
    <link href="http://fonts.googleapis.com/css?family=Quicksand:300,400,700|Jacques+Francois" rel="stylesheet" type="text/css">  
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</head>
<body>

    <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PT3WZ5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PT3WZ5');</script>
<!-- End Google Tag Manager -->


    <div class='page-header'>
        
        {% if user.is_authenticated %}
            <a href="{% url "blog.views.post_new" %}" class="top-menu"><span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" title="add"></span></a>
            <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit" data-toggle="tooltip" data-placement="bottom" title="unpublished"></span></a>
            <a href="{% url 'django.contrib.auth.views.logout' %}" class="top-menu"><span class="glyphicon glyphicon-log-out" data-toggle="tooltip" data-placement="bottom" title="logout"></span></a>
        {% else %}
            <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-log-in" data-toggle="tooltip" data-placement="bottom" title="login"></span></a>
        {% endif %}

        <a href="http://www.floriecoggins.com" class="top-menu"><span class="glyphicon glyphicon-circle-arrow-left" data-toggle="tooltip" data-placement="bottom" title="back to floriecoggins.com"></span></a>
        {% if user.is_authenticated %}
            <p class="top-menu welcome">hi {{ user.username }}!</p>
        {% endif %}
        <h1><a href="{% url "blog.views.post_list" %}">Soccer Mom to Software Engineer</a></h1>

       
    </div>
    <div class="content container">
    <div class="row">
        <div class="col-md-8 blog_stuff">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>