<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soccer mom to software engineer</title>
</head>
<body>
    <div>
        <h1><a href="">Soccer Mom to Software Engineer</a></h1>
    </div>
    <div>
        <p>published: 7/2/15 12:14pm</p>
        <h2>
            <a href="">First Post</a>
        </h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at</p>
        
    </div>
    <div>
        <p>published: 7/2/15 2:03pm</p>
        <h2>
            <a href="">Second Post</a>
        </h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at</p>
    </div>
</body>
</html>