<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soccer mom to software engineer</title>
</head>
<body>
    <div>
        <h1><a href="">Soccer Mom to Software Engineer</a></h1>
    </div>
    {% for post in posts %}
        <div>
            <p>published date: {{post.published_date}}</p>
            <p>author: {{post.author}}</p>
            <h2><a href="">{{ post.title }}</a></h2>      
            <p>{{ post.text |linebreaks}}</p>
        </div>
    {% endfor %}
</body>
</html>